<div class="container">

  <table>
        <tbody>
          <tr>
            <td> les lettres : </td>
            <% @party.ten_letters_list.split("").each do |letter| %>
              <td><%= letter %></td>
            <% end %>
          </tr>
      </tbody>
  </table>
  <%= simple_form_for [ @game, @party ] do |f| %>
  <%= f.input :word %>
  <%= f.input :ten_letters_list, :as => :hidden, input_html: {value: @party.ten_letters_list }%>
  <%= f.submit "Submit word", class: "btn btn-primary" %>
<% end %>
</div>
